# Build a cuisine recommender

我们需要先安装skl2onnx来将我们的数据转化为Onnx可用数据

In [1]:
!pip install skl2onnx
import pandas as pd

Collecting skl2onnx
  Using cached skl2onnx-1.12-py2.py3-none-any.whl (279 kB)
Requirement already satisfied: scipy>=1.0 in d:\anaconda\lib\site-packages (from skl2onnx) (1.7.1)
Collecting protobuf
  Using cached protobuf-4.21.4-cp39-cp39-win_amd64.whl (525 kB)
Collecting onnxconverter-common>=1.7.0
  Using cached onnxconverter_common-1.12-py2.py3-none-any.whl (83 kB)
Collecting onnx>=1.2.1
  Using cached onnx-1.12.0-cp39-cp39-win_amd64.whl (11.5 MB)
Requirement already satisfied: numpy>=1.15 in d:\anaconda\lib\site-packages (from skl2onnx) (1.20.3)
Requirement already satisfied: scikit-learn>=0.19 in d:\anaconda\lib\site-packages (from skl2onnx) (0.24.2)
Collecting protobuf
  Using cached protobuf-3.20.1-cp39-cp39-win_amd64.whl (904 kB)
Requirement already satisfied: typing-extensions>=3.6.2.1 in d:\anaconda\lib\site-packages (from onnx>=1.2.1->skl2onnx) (3.10.0.2)
Requirement already satisfied: joblib>=0.11 in d:\anaconda\lib\site-packages (from scikit-learn>=0.19->skl2onnx) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\anaconda\lib\site-packages (from scikit-learn>=0.19->skl2onnx) (2.2.0)
Installing collected packages: protobuf, onnx, onnxconverter-common, skl2onnx
Successfully installed onnx-1.12.0 onnxconverter-common-1.12 protobuf-3.20.1 skl2onnx-1.12

In [2]:
data = pd.read_csv('../data/cleaned_cuisines.csv')
data.head()

,Unnamed: 0,cuisine,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,0,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,indian,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

移除前两列，作为输入

In [3]:
X = data.iloc[:,2:]
X.head()

,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,artemisia,artichoke,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

提取label数据

In [4]:
y = data.iloc[:,1]
y.head()

0    indian
1    indian
2    indian
3    indian
4    indian
Name: cuisine, dtype: object

接下来像前几章一样训练我们的数据

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score,precision_score,confusion_matrix,classification_report

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

In [7]:
model = SVC(kernel='linear', C=10, probability=True,random_state=0)
model.fit(X_train,y_train.values.ravel())

SVC(C=10, kernel='linear', probability=True, random_state=0)

In [8]:
y_pred = model.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

     chinese       0.74      0.69      0.71       251
      indian       0.88      0.88      0.88       248
    japanese       0.75      0.79      0.77       231
      korean       0.84      0.77      0.80       240
        thai       0.75      0.83      0.79       229

    accuracy                           0.79      1199
   macro avg       0.79      0.79      0.79      1199
weighted avg       0.79      0.79      0.79      1199

### Convert your model to Onnx

In [9]:
!pip install onnxruntime

Collecting onnxruntime
  Using cached onnxruntime-1.12.0-cp39-cp39-win_amd64.whl (5.8 MB)
Requirement already satisfied: sympy in d:\anaconda\lib\site-packages (from onnxruntime) (1.9)
Requirement already satisfied: packaging in d:\anaconda\lib\site-packages (from onnxruntime) (21.0)
Collecting numpy>=1.21.0
  Downloading numpy-1.23.1-cp39-cp39-win_amd64.whl (14.7 MB)
Requirement already satisfied: protobuf in d:\anaconda\lib\site-packages (from onnxruntime) (3.20.1)
Collecting coloredlogs
  Using cached coloredlogs-15.0.1-py2.py3-none-any.whl (46 kB)
Collecting flatbuffers
  Using cached flatbuffers-2.0-py2.py3-none-any.whl (26 kB)
Collecting humanfriendly>=9.1
  Using cached humanfriendly-10.0-py2.py3-none-any.whl (86 kB)
Collecting pyreadline3
  Using cached pyreadline3-3.4.1-py3-none-any.whl (95 kB)
Requirement already satisfied: pyparsing>=2.0.2 in d:\anaconda\lib\site-packages (from packaging->onnxruntime) (3.0.4)
Requirement already satisfied: mpmath>=0.19 in d:\anaconda\lib\site-packages (from sympy->onnxruntime) (1.2.1)
Installing collected packages: pyreadline3, humanfriendly, numpy, flatbuffers, coloredlogs, onnxruntime
  Attempting uninstall: numpy
    Found existing installation: numpy 1.20.3
    Uninstalling numpy-1.20.3:
      Successfully uninstalled numpy-1.20.3
Successfully installed coloredlogs-15.0.1 flatbuffers-2.0 humanfriendly-10.0 numpy-1.23.1 onnxruntime-1.12.0 pyreadline3-3.4.1

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
daal4py 2021.3.0 requires daal==2021.2.3, which is not installed.
scipy 1.7.1 requires numpy<1.23.0,>=1.16.5, but you have numpy 1.23.1 which is incompatible.
numba 0.54.1 requires numpy<1.21,>=1.17, but you have numpy 1.23.1 which is incompatible.

In [10]:
from skl2onnx import convert_sklearn
from skl2onnx.common.data_types import FloatTensorType

initial_type = [('float_input', FloatTensorType([None, 380]))]
options = {id(model): {'nocl': True, 'zipmap': False}}

In [11]:
onx = convert_sklearn(model, initial_types=initial_type, options=options)
with open("./model.onnx", "wb") as f:
    f.write(onx.SerializeToString())