In [38]:
#load the hotel reviews from CSV
import pandas as pd
import time
# time 可以计算程序运行时间
print('Loading data file now, this could take a while depending on file size')
start = time.time()
#df 意思是dateframe
df = pd.read_csv('../data/Hotel_Reviews.csv')
end = time.time()
print(f'loading took {round(end-start)} seconds')

Loading data file now, this could take a while depending on file size
loading took 3 seconds

In [39]:
print(f'The shape of the date (rows, cols) is {df.shape}')

The shape of the date (rows, cols) is (515738, 17)

In [40]:
nationality_freq = df['Reviewer_Nationality'].value_counts()
print(f'there are {nationality_freq.size} different nationalities')
print(nationality_freq)

there are 227 different nationalities
 United Kingdom               245246
 United States of America      35437
 Australia                     21686
 Ireland                       14827
 United Arab Emirates          10235
                               ...
 Cape Verde                        1
 Northern Mariana Islands          1
 Tuvalu                            1
 Guinea                            1
 Palau                             1
Name: Reviewer_Nationality, Length: 227, dtype: int64

In [41]:
print(f' The highest frequency reviewer nationality is {nationality_freq.index[0].strip()} with {nationality_freq[0]} reviews')
print(f'''The next 10 highest frequency reviewer nationalities are:
{nationality_freq[1:11]}''')

 The highest frequency reviewer nationality is United Kingdom with 245246 reviews
The next 10 highest frequency reviewer nationalities are:
 United States of America     35437
 Australia                    21686
 Ireland                      14827
 United Arab Emirates         10235
 Saudi Arabia                  8951
 Netherlands                   8772
 Switzerland                   8678
 Germany                       7941
 Canada                        7894
 France                        7296
Name: Reviewer_Nationality, dtype: int64

In [42]:
print(nationality_freq.index[:10])

Index([' United Kingdom ', ' United States of America ', ' Australia ',
       ' Ireland ', ' United Arab Emirates ', ' Saudi Arabia ',
       ' Netherlands ', ' Switzerland ', ' Germany ', ' Canada '],
      dtype='object')

In [43]:
for nat in nationality_freq.index[:10]:
    df_nat = df[df['Reviewer_Nationality']== nat]
    freq = df_nat['Hotel_Name'].value_counts()
    print(f'The most reviewed hotel for {nat.strip()} was {freq.index[0]} with {freq[0]} reviews' )

The most reviewed hotel for United Kingdom was Britannia International Hotel Canary Wharf with 3833 reviews
The most reviewed hotel for United States of America was Hotel Esther a with 423 reviews
The most reviewed hotel for Australia was Park Plaza Westminster Bridge London with 167 reviews
The most reviewed hotel for Ireland was Copthorne Tara Hotel London Kensington with 239 reviews
The most reviewed hotel for United Arab Emirates was Millennium Hotel London Knightsbridge with 129 reviews
The most reviewed hotel for Saudi Arabia was The Cumberland A Guoman Hotel with 142 reviews
The most reviewed hotel for Netherlands was Jaz Amsterdam with 97 reviews
The most reviewed hotel for Switzerland was Hotel Da Vinci with 97 reviews
The most reviewed hotel for Germany was Hotel Da Vinci with 86 reviews
The most reviewed hotel for Canada was St James Court A Taj Hotel London with 61 reviews

In [44]:
hotel_freq_df = df.drop(["Hotel_Address", "Additional_Number_of_Scoring", "Review_Date", "Average_Score", "Reviewer_Nationality", "Negative_Review", "Review_Total_Negative_Word_Counts", "Positive_Review", "Review_Total_Positive_Word_Counts", "Total_Number_of_Reviews_Reviewer_Has_Given", "Reviewer_Score", "Tags", "days_since_review", "lat", "lng"], axis = 1)
print(hotel_freq_df.groupby('Hotel_Name').transform('count'))

        Total_Number_of_Reviews
0                           405
1                           405
2                           405
3                           405
4                           405
...                         ...
515733                      325
515734                      325
515735                      325
515736                      325
515737                      325

[515738 rows x 1 columns]

In [45]:
# First create a new dataframe based on the old one, removing the uneeded columns
hotel_freq_df = df.drop(["Hotel_Address", "Additional_Number_of_Scoring", "Review_Date", "Average_Score", "Reviewer_Nationality", "Negative_Review", "Review_Total_Negative_Word_Counts", "Positive_Review", "Review_Total_Positive_Word_Counts", "Total_Number_of_Reviews_Reviewer_Has_Given", "Reviewer_Score", "Tags", "days_since_review", "lat", "lng"], axis = 1)
# Group the rows by Hotel_Name, count them and put the result in a new column Total_Reviews_Found
hotel_freq_df['Total_Reviews_Found'] = hotel_freq_df.groupby('Hotel_Name').transform('count')

# Get rid of all the duplicated rows
hotel_freq_df = hotel_freq_df.drop_duplicates(subset = ["Hotel_Name"])
display(hotel_freq_df)

,Hotel_Name,Total_Number_of_Reviews,Total_Reviews_Found
0,Hotel Arena,1403,405
405,K K Hotel George,1831,566
971,Apex Temple Court Hotel,2619,1037
2008,The Park Grand London Paddington,4380,1770
3778,Monhotel Lounge SPA,171,35
...,...,...,...
511962,Suite Hotel 900 m zur Oper,3461,439
512401,Hotel Amadeus,717,144
512545,The Berkeley,232,100
512645,Holiday Inn London Kensington,5945,2768
515413,Atlantis Hotel Vienna,2823,325

In [46]:
def get_difference_review_avg(row):
    return row['Average_Score'] - row['Calc_Average_Score']

df['Calc_Average_Score'] = round(df.groupby('Hotel_Name').Reviewer_Score.transform('mean'),1)
df['Average_Score_Difference'] = df.apply(get_difference_review_avg,axis =1)
review_scores_df = df.drop_duplicates(subset=['Hotel_Name'])
# Sort the dataframe to find the lowest and highest average score difference
review_scores_df = review_scores_df.sort_values(by=["Average_Score_Difference"])

display(review_scores_df[["Average_Score_Difference", "Average_Score", "Calc_Average_Score", "Hotel_Name"]])

,Average_Score_Difference,Average_Score,Calc_Average_Score,Hotel_Name
495945,-0.8,7.7,8.5,Best Western Hotel Astoria
111027,-0.7,8.8,9.5,Hotel Stendhal Place Vend me Paris MGallery by...
43688,-0.7,7.5,8.2,Mercure Paris Porte d Orleans
178253,-0.7,7.9,8.6,Renaissance Paris Vendome Hotel
218258,-0.5,7.0,7.5,Hotel Royal Elys es
...,...,...,...,...
151416,0.7,7.8,7.1,Best Western Allegro Nation
22189,0.8,7.1,6.3,Holiday Inn Paris Montparnasse Pasteur
250308,0.9,8.6,7.7,MARQUIS Faubourg St Honor Relais Ch teaux
68936,0.9,6.8,5.9,Villa Eugenie
3813,1.3,7.2,5.9,Kube Hotel Ice Bar

In [47]:
no_negative_reviews = sum(df.Negative_Review == 'No Negative')
print(f'Number of No Negative reviews: {no_negative_reviews}')
no_positive_reviews = sum(df.Positive_Review == 'No Positive')
print(f'Number of No Positive reviews: {no_positive_reviews}')
both_no_reviews = sum((df.Negative_Review == 'No Negative') & (df.Positive_Review == 'No Positive'))
print(f'Number of both No Negative and No Positive reviews: {both_no_reviews}')

Number of No Negative reviews: 127890
Number of No Positive reviews: 35946
Number of both No Negative and No Positive reviews: 127